/* PDF page breaks */
.break-before {
  page-break-before: always;
}
.break-after {
  page-break-after: always;
}
.break-avoid {
  page-break-inside: avoid;
}
.fullpage {
  height: 11in;
  background-color: fuchsia;
  border: 1px solid black;
}
